<md-content style="height: 100%" class="md-padding">


<div layout="row" layout-xs="column">
  <div  flex=66 style="height:400px" >
<md-list >
        <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="near in nearest" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ near.name == "" ? near.info : near.name}}</h3>
            <h4>{{ near.bundesland }}</h4>
            <p>{{ near.distance }}</p>
          </div>
        </md-list-item>
       
      </md-list>  </div>
  <div flex>
    I'm below on mobile, and to the right on larger devices.
  </div>
</div>


 








</md-content>
<!-- <style type="text/css">
	.angular-google-map-container { height: 400px; }

</style>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
    </ui-gmap-google-map> -->