 <style type="text/css">
.full-heigth {
    height: -moz-calc(100vh - 164px); 
    height: -webkit-calc(100vh - 164px); 
    height: calc(100vh - 164px);
}
 </style>


 <div class=" md-padding full-heigth" >
      

    <md-toolbar class="md-hue-1 md-whiteframe-z2">
            <div class="md-toolbar-tools"><input type="text" ng-model="search" placeholder="Suche" class=""/>
</div>
    </md-toolbar>

    <md-content style="height:100%">
      <section>
         <md-subheader>Bahnhöfe</md-subheader>
         <md-list >
            <md-list-item ng-repeat="station in stations| fuzzyBy: 'name': search" class="">


             <div class="md-list-item-text">

               <h3> <ng-md-icon icon="account_balance"></ng-md-icon> {{station.name}}</h3>
<!--                   <p>
                     <div ng-repeat="site in sites | filterBy: ['station_id']: station.station_id: true | filter:{name: ''}" >
                        {{ site.name }}    {{ site.station_id }}

                     </div>
                  </p> -->
               </div>
               <md-menu class="md-secondary">
                                       <ng-md-icon icon="menu"></ng-md-icon>

                 <md-menu-content width="4">
                    <md-menu-item>
                      <md-button href="/station/{{station.station_id}}">
                        Details
                     </md-button>
                  </md-menu-item>
                  <md-menu-item>
                   <md-button>
                     Navigieren
                  </md-button>
               </md-menu-item>
               <md-menu-divider></md-menu-divider>
               <md-menu-item>
                <md-button>
                  Notifications
               </md-button>
            </md-menu-item>
         </md-menu-content>
      </md-menu>



   </md-list-item>
</md-list>
</section>
<section>
   <md-subheader>Parkhäuser</md-subheader>
   <md-list>
   <md-list-item ng-repeat="site in sites | fuzzyBy: 'name': search" class="">

    <div class="md-list-item-text">
               <h3><ng-md-icon icon="local_parking"></ng-md-icon> {{site.name}}</h3>
                  <p>
                    {{site.open_time}}
                  </p>
               </div>

               <md-menu class="md-secondary">
                                       <ng-md-icon icon="menu"></ng-md-icon>

                 <md-menu-content width="4">
                    <md-menu-item>
                      <md-button href="/charts/{{site.site_id}}">
                        Details
                     </md-button>
                  </md-menu-item>
                  <md-menu-item>
                   <md-button>
                     Navigieren
                  </md-button>
               </md-menu-item>
               <md-menu-divider></md-menu-divider>
               <md-menu-item>
                <md-button>
                  Notifications
               </md-button>
            </md-menu-item>
         </md-menu-content>
      </md-menu>


      </md-list-item>
   </md-list>
</section>
</md-content>
</div>