 <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
 rel="stylesheet">

 <div id="subheaderContainer" ng-controller="listController as ctrl" layout="column"  ng-cloak style="position: absolute;
       top: 140px; /* Header Height */
       bottom: 20px; width:95%;overflow:auto">
   <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools"><input type="text" ng-model="search" placeholder="search by title" />
</div>
   </md-toolbar>
   <md-content style="height: 100%; width:100%">
      <section>
         <md-subheader class="md-warn">Bahnhöfe</md-subheader>
         <md-list layout-padding>
            <md-list-item ng-repeat="station in stations| fuzzyBy: 'name': search" class="md-3-line md-long-text">


             <div class="md-list-item-text">
               <h2>{{station.name}}</h3>
                  <p>
                     <div ng-repeat="site in sites | filterBy: ['station_id']: station.station_id: true | filter:{name: ''}" >
                        {{ site.name }}    {{ site.station_id }}

                     </div>
                  </p>
               </div>


               <md-menu class="md-secondary">
                  <md-button class="md-icon-button">
                    <i class="material-icons md-48">menu</i>
                 </md-button>
                 <md-menu-content width="4">
                    <md-menu-item>
                      <md-button>
                        Redial
                     </md-button>
                  </md-menu-item>
                  <md-menu-item>
                   <md-button>
                     Check voicemail
                  </md-button>
               </md-menu-item>
               <md-menu-divider></md-menu-divider>
               <md-menu-item>
                <md-button>
                  Notifications
               </md-button>
            </md-menu-item>
         </md-menu-content>
      </md-menu>
   </md-list-item>
</md-list>
</section>
<section>
   <md-subheader>Parkhäuser</md-subheader>
   <md-list layout-padding>
   <md-list-item ng-repeat="site in sites | fuzzyBy: 'name': search" class="md-3-line md-long-text">

    <div class="md-list-item-text">
               <h2>{{site.name}}</h3>
                  <p>
                    {{site.open_time}}
                  </p>
               </div>

               <md-menu class="md-secondary">
                  <md-button class="md-icon-button">
                    <i class="material-icons md-48">menu</i>
                 </md-button>
                 <md-menu-content width="4">
                    <md-menu-item>
                      <md-button href="/charts/{{site.site_id}}">
                        Details
                     </md-button>
                  </md-menu-item>
                  <md-menu-item>
                   <md-button>
                     Navigieren
                  </md-button>
               </md-menu-item>
               <md-menu-divider></md-menu-divider>
               <md-menu-item>
                <md-button>
                  Notifications
               </md-button>
            </md-menu-item>
         </md-menu-content>
      </md-menu>


      </md-list-item>
   </md-list>
</section>
</md-content>
</div>